@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Lato:wght@400;700&family=Montserrat:ital,wght@0,600;0,700;1,900&display=swap)
$primery:#275553
$secondary:#F47648
$white: #FFFFFF
$black: #212121
$dark-gray: #5A5A5A
$gray: #BABABA
@mixin section-title
    
    

    